*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #212121;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main{
    min-height: 85vh;
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    overflow: scroll;
}

main::-webkit-scrollbar {
    display: none;
}

main section {
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer{
    background-color: #212121;
}

small a {
    text-decoration: none;
    font-size: 10px;
    padding: 4px;
    border-radius: 2px;
    background-color: red;
    color: white;
    font-weight: 600;
}

#flashMessage {
    position: absolute;
    top: 50px;
    left: auto;
    right: 20px;
    width: 300px;
    text-align: center;
    padding: 10px;
    background-color: rgb(18, 27, 67);
    color: white;
    font-weight: 600;
    border-radius: 10px;
}