<p> <%= comment.content %>  </p>
<div class="commentUser">
    <small> <%= comment.user.name %>  </small>
    <% if( locals.user && (locals.user.id == comment.user.id) ) { %> 
        <small><a href="/comments/destroy/<%= comment.id %>">Delete</a></small>
    <% } %> 
</div>