
<!-- <h1>This is the main body</h1> -->


<section id="postSection">

    <%  if(locals.user) { %>

        <div id="postformDetails">
                
            <button id="postNew" class="learn-more">
                <span class="circle" aria-hidden="true">
                <span class="plus arrow"> <h6> + </h6> </span>
                </span>
                <span class="button-text">Create Post</span>
            </button>

            <div id="createpostform">
                <form  action="/posts/create" id="new-post-form" method="post">
                    <textarea id="postContentInput" type="text" name="content" cols="30" rows="3" placeholder="To create post Type here.." required></textarea>
                    <input id="postContentSubmit" type="submit" value="Post">
                </form>
                <input id="postContentCancel" type="text" value="cancel">
            </div>
        
        </div>

    <% } %>

    <div id="innerMain">
        <ul class="postUl">
            <% for(post of posts) { %>
            
                <%- include('_post'); %> 

            <% } %>  
        </ul>
    </div>

</section>


<section id="user-friends">
    <h4>Friends</h4>
    <% for(u of all_users) {  %>
        <p>
            <a href="/users/profile/<%= u.id %>"><%=u.name%></a>
        </p>
    <% } %> 
</section> 

<script src="/js/home_posts.js"></script>